{% extends 'layout/base.html' %}

{% block content %}
<h1 class="subject">Bien-être & Santé website</h1>
    <ul>
        <li><a href="{{ url_for('patient_list') }}">Tous les patients</a></li> <!-- Lấy tên hàm vì nếu sau có thay đổi đường dẫn cũng không sao-->
        <!-- Bắt đầu vòng lặp -->
        {% for c in patient %} <!-- biến caterogies đã gán trong file index.py -->
        <li><a href="{{ url_for('patient_list', patient_id=c.identifier) }}"> {{ c.name }} </a></li>
        <!-- <li><a href="/products?category_id={{ c.id }}"> {{ c.name }} </a></li> -->
        {% endfor %}         <!-- Kết thúc vòng lặp -->
    </ul>
{% endblock %}
