{% extends 'layout/base.html' %}

{% block title %} Accueil {% endblock %}

{% block content %}
<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">MaitreVaccin</h1>
            <p>Ne laissez pas les vaccins vous inquiéter - MaitreVaccin est là pour vous aider !</p>
        </div>
    </div>

    <br />
    <div class="row bg-white ml-5 mr-5 justify-content-center">
        <div class="col-md-1 mb-4 text-center">
            <i class="fa-regular fa-folder fa-2x mt-2"></i>
        </div>
        <div class="col-md-3 mb-4">
            <h4>Informations du patient</h4>
            <p class="text-justify">Affiche les informations générales sur le patient, telles que son nom, sa date de
                naissance, son sexe et son adresse.</p>
        </div>
        <div class="col-md-1 mb-4 text-center">
            <i class="fa-regular fa-bookmark fa-2x mt-2"></i>
        </div>
        <div class="col-md-3 mb-4">
            <h4>Immunization du patient</h4>
            <p class="text-justify">Affiche les informations relatives à l'immunisation du patient, telles que
                les vaccins qu'il a reçus et les dates de vaccination.</p>
        </div>
        <div class="col-md-1 mb-4 text-center">
            <i class="fa-solid fa-temperature-three-quarters fa-2x mt-2"></i>
        </div>
        <div class="col-md-3 mb-4">
            <h4>Température du patient</h4>
            <p class="text-justify">Affiche les informations sur la température du patient, qui est une mesure
                importante de sa santé.</p>
        </div>
    </div>
    <br>
</main>


{% endblock %}